.blog-post {
    background-color: #f3f9ff;
    padding: 1em;
    margin: 0 0 1em 0;
    border: 1px solid #f1f1f1;
}

.blog-post:not(.bpfw) {
    width: 30%;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
}

.blog-post.nobg {
    background-color: transparent;
}

.blog-post > h1 {
    font-size: 2em;
    line-height: 1;
}

.blog-post > h2 {
    font-size: 1.7em;
    line-height: 1;
}

.blog-post > .details ul {
    margin: 1em 0;
}

.blog-post > .details li {
    display: inline-block;
    margin: 0 1em 0 0;
    font-weight: bold;
    font-size: .7em;
    line-height: 1;
}

.blog-post > .content {
    display: block;
    line-height: 1;
    font-size: 1em;
    margin: 1em 0;
}

.blog-post > .button {
    display: inline-block;
    margin: 0;
}

.blog-post > .blog-nav-links > li {
    display: inline-block;
    margin: 0 1em 0 0;
}

.homepage-group-listing ul.group-links {
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    padding: 1em 0;
    margin: 1em 0;
    text-align: justify;
}

.homepage-group-listing ul.group-links li {
    display: inline-block;
    margin: 0 .5em;
}